<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="NuGet official package source v3" value="https://api.nuget.org/v3/index.json" />
    <add key="StACS Solution Artifacts" value="artifacts" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="Felinesoft Packages" value="true" />
  </disabledPackageSources>

</configuration>
