<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="NuGet official package source v3" value="https://api.nuget.org/v3/index.json" />
    <add key="StACS.Core" value="src\StACS.Core\bin\Debug" />
    <add key="StACS.NetFx.Extensions" value="src\StACS.NetFx.Extensions\bin\Debug" />
    <add key="StACS.NetFx.Functions" value="src\StACS.NetFx.Functions\bin\Debug" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="Felinesoft Packages" value="true" />
  </disabledPackageSources>

</configuration>
